@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* .menu_main {
    @include main-nav;
    background: $backgroundColor1;
} */
.dws_menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 55% 25%;
      grid-template-columns: 20% 55% 25%;
}

.dws_menu > a img {
  max-height: 45px;
}

.dws_menu ul {
  list-style: none;
}

.topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topmenu li {
  height: 45px;
  max-width: 200px;
  min-width: 140px;
  text-align: center;
  position: relative;
  background-color: goldenrod;
}

.topmenu li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #0a0a0a;
  padding: 13px;
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.topmenu li a:hover {
  background-color: rgba(10, 10, 10, 0.9);
  color: goldenrod;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../../images/bg_header_1.jpg") center center/cover no-repeat;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 15px;
  text-align: right;
}

header h1 {
  text-align: center;
  font-size: 40px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin-top: 100px;
  color: #c8c8c8;
}

footer {
  /* width: $contentWidth;
    margin-left: auto;
    margin-right: auto; */
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(10, 10, 10, 0.9);
  color: #c8c8c8;
  /*
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    */
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

footer .footerContainer1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  border: dashed red;
  border-bottom: solid #c8c8c8;
}

footer .footerContainer1 h2 {
  font-size: 1rem;
  padding: 0px 20px 0px 20px;
}

footer .footerContainer2 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  border: dashed green;
}

footer .footerContainer2 h2, footer .footerContainer2 ul {
  list-style: none;
  padding: 0 20px 0 20px;
}

footer .footerContainer3 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  border: dashed #ffff03;
}

footer .footerContainer3 p {
  padding: 0px 20px 0px 20px;
}

footer .iconPanel {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
  padding: 0px 20px 0px 20px;
  border: dashed blue;
  /* 
        img {
            filter: invert(90%);
        } */
}

footer .iconPanel img {
  -webkit-filter: invert(80%);
          filter: invert(80%);
}

footer .iconPanel img:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

@media screen and (max-width: 736px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*  .iconPanel {
            img {
                width: 10%;
            }
    } */
  }
}

form {
  width: auto;
  padding-top: 5px;
  position: relative;
}

form input {
  width: 100px;
  height: 25px;
  position: absolute;
  top: 21px;
  right: 15px;
  padding-left: 10px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

form input:focus {
  width: 190px;
}

form button {
  width: 20px;
  height: 20px;
  background: url("../../images/search_icon.png") center no-repeat;
  border: none;
  position: absolute;
  top: 23px;
  right: 22px;
  cursor: pointer;
}

form button:before {
  color: #324b4e;
}

.guidesection {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background-color: #787878;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* padding: px; */
  padding: 20px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 30px;
  margin-bottom: 5%;
}

.kguide {
  background-color: white;
  height: auto;
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  border-radius: 30px;
}

.kguide p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  vertical-align: middle;
  margin: auto;
}

.kguide > img {
  width: auto;
  height: 50%;
  vertical-align: middle;
  margin-top: inherit;
  margin-right: auto;
  margin-left: auto;
}

.ngt {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  padding: 20px;
}

.kguide a {
  text-decoration: none;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:link:active, a:visited:active {
  text-decoration: none;
  color: inherit;
}

.klank {
  padding: 2% 0% 1% 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 736px) {
  .kguide {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sectionFaq {
  width: 100%;
  height: 50%;
  background-color: white;
  /* //Thomas
    display: flex;
    flex-direction: column;
    justify-content: flex-start; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.faqContaioner {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  width: 70%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5 px;
}

.ruta {
  background-color: #e8e8e8;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 0.5rem 2px 0.5rem rbga(0, 0, 0, 0.15);
          box-shadow: 0.5rem 2px 0.5rem rbga(0, 0, 0, 0.15);
}

.lankfraga {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  background-color: #333;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.figur {
  color: blanchedalmond;
  padding: 0.5rem;
}

#minus {
  display: none;
}

#plus {
  color: white;
}

.svar {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #d8d8d8;
  -webkit-transition: max-height 0.6s;
  transition: max-height 0.6s;
}

.svar p {
  font-size: 1em;
  color: black;
  padding: 2rem;
}

.ruta:target .svar {
  max-height: 20rem;
}

.ruta:target #plus {
  display: none;
}

.ruta:target #minus {
  display: block;
}

.gridsection {
  display: -ms-grid;
  display: grid;
  height: auto;
  width: 100%;
  /* 
       grid-template-areas: 
       ". header header .
       . sidebar content .
       . kontakt kontakt .";  */
}

.gridcontainer-1 {
  grid-area: header;
}

.gridcontainer-2 {
  grid-area: content;
}

.gridcontainer-3 {
  grid-area: sidebar;
}

.gridcontainer-4 {
  grid-area: kontakt;
}

.kontaktContaioner {
  /*    //Thomas
      display: flex;
      flex-direction: column;
      justify-content: flex-end; */
  height: 50%;
  width: 80%;
  padding: 20px;
  background: black;
}

.kontaktContaioner h2 {
  color: white;
  font-size: 3em;
  text-align: center;
  margin-bottom: 30px;
}

.runtom {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  gap: 30px;
  margin-bottom: 30px;
}

.runtom .box {
  width: 100%;
  position: relative;
  padding: 20px;
}

.runtom .box input {
  width: 100%;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.runtom .box input:focus,
.runtom .box input:valid {
  padding: 20px 10px;
  background: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
}

.runtom .box label {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.runtom .box textarea {
  width: 100%;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.runtom .box textarea:focus,
.runtom .box textarea:valid {
  padding: 20px 10px;
  background: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
}

.kontaktKnapp {
  background: #d8d8d8;
  padding: 15px 30px;
  border: none;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}
/*# sourceMappingURL=main.css.map */