*{
    margin: 0;
    padding: 0;
}

header{
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    min-height: 350px;
}

.head_menu{
    background-image: url("../img/ep_naturalwhite.png");
    height: 60px;
    padding: 10px;
}

.head_menu img{
    max-width: 200px;
    max-height: 80px;
}

.head_rest{
    background: url('../img/head_bg_2.jpg') center center/cover no-repeat;
    height: 300px;
}

.dws-menu {
    margin: -55px;
}

.dws-menu ul,
.dws-menu ol{
    list-style: none;
}

.dws-menu > ul{
    display: flex;
    justify-content: center;
}

.dws-menu > ul li{
    position: relative;
    /* border-right: 1px solid #c7c8ca; */
}

/* .dws-menu > ul li:first-child{
    border-left: 1px solid #b2b3b5;
}

.dws-menu > ul li:last-child{
    border-right: 1px solid #babbbd;
} */

.dws-menu > ul li a{
    display: block;
    background: rgb(201,201,201);
    background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%);
    background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 );

    padding: 15px 30px 15px 40px;
    font-size: 14px;
    font-weight: bold;
    color: #454547;
    text-decoration: none;
    text-transform:uppercase;
    transition: all 0.3s ease;
}

.dws-menu li a:hover{
    background: rgb(224,225,229);
    background: -moz-linear-gradient(top,  rgba(224,225,229,1) 0%, rgba(69,69,71,1) 2%, rgba(69,69,71,1) 98%, rgba(224,225,229,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%);
    background: linear-gradient(to bottom,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 ); 

    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}

/*sub menu*/
.dws-menu li ul{
    position: absolute;
    min-width: 150px;
    display: none;
}

/* .dws-menu li > ul li{
    border: 1px solid #c7c8ca;
} */

.dws-menu li > ul li a{
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
}

.dws-menu li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
}

.dws-menu li:hover > ul{
    display: block;
}