// colors
$backgroundColor1: rgb(20, 20, 20);
$backgroundColor2: rgb(190, 190, 190); //rgba(255, 255, 255, 1);
$backgroundColor3: rgb(235, 235, 235);
$backgroundColor4: rgb(138, 138, 138);


$backgroundSpecial: goldenrod;
$textColor1: rgb(250, 250, 250);
$textColor2: rgb(0, 0, 0);
//$navBarBackground: rgba(0, 0, 0, 0.74);
//$highlightColor: rgb(255, 0, 0);

// units for width, height etc;
//$numberOfItems: 5;

$contentWidth: 95%;
$contentWidth2: 100%;
$divWidth: 22%;
$regPadding: 10px 20px 10px 20px;

$mobileWidthP: 414px;
$mobileWidthL: 736px;

// typography
$regFontSize: 16px; //1rem
$mediumFontsize: 1rem;
// not used yet
//$bigFontSize: 1.5rem;

$mainFont: Roboto, Arial, Helvetica, sans-serif; //Helvetica, sans-serif;
$specialFont: Roboto Slab, Arial; //or rather something SPECIAL
