footer {
  //position: absolute;
  bottom: 0;
  //height: 2.5rem;
  
  width: $contentWidth2;
  
  //@include content-centering;
  background: $backgroundColor2;
  color: $textColor2;
  border-top: 5px solid $backgroundColor1;
  /*
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    */
  display: grid;
  //grid-template-columns: auto;
  //grid-template-rows: auto;
  justify-content: stretch;
  //align-items: end;
  //grid-area:  a b c;

  .footerContainer1 {
    //grid-area: a;
    grid-column: 1;
    grid-row: 1;
    //border: dashed red; //debug
    border-bottom: 2px solid $textColor2;
    //text styles -> should be moved to separate mixin in abstracts?
    h2 {
      font-size: $mediumFontsize;
      padding: 0px 20px 0px 20px;
    }
    padding: 10px 0 10px 0;
  }
  .footerContainer2 {
    //grid-area: b;
    grid-column: 2;
    grid-row: 1;
    //border: dashed green; //debug
    h2,
    ul {
      list-style: none;
      padding: $regPadding;
      // add command to align list items with kontakt
    }
    border-bottom: 2px solid $textColor2;
  }
  .footerContainer3 {
    //grid-area: b;
    grid-column: 1;
    grid-row: 2;
    //border: dashed rgb(255, 255, 3); //debug
    p {
      padding: $regPadding;
    }
  }
  .iconPanel {
    // grid-area: c;
    grid-column: 2;
    grid-row: 2; //1 / 2
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: $regPadding;
    //border: dashed blue; //debug
    /* 
        img {
            filter: invert(90%);
        } */
    @include footer-icons;
    @include auto-img-size;
  }

  @include media-q($mobileWidthL) {
    //650px
    display: flex;
    flex-direction: column;
    @include auto-img-size;
  }
}
