header {
    box-sizing: border-box;
    background: url("../../images/bg_header_1.jpg") center center/cover no-repeat;
    //width: $contentWidth2; //100%
    @include content-centering;
    position: relative;
    padding: 15px;
}

.head_rest{
    background: url('../images/head_bg_2.jpg') center center/cover no-repeat;
    height: 300px;

    h1 {
        text-align: center;
        font-size: 40px;
        font-family: $mainFont;
        margin-top: 100px;
        color: $textColor1; //#fff
    }
}


