header {
    box-sizing: border-box;
    background: url("../../images/bg_header_1.jpg") center center/cover no-repeat;
    //width: $contentWidth2; //100%
    @include content-centering;
    position: relative;
    padding: 15px;
    text-align: right;



    h1 {
        text-align: center;
        font-size: 40px;
        font-family: $mainFont;
        margin-top: 100px;
        color: $textColor1; //#fff
    }
}
