.head_menu{
    background-image: url("../images/ep_naturalwhite.png");
    height: 70px;
    padding: 8px 0 5px 10px;

    img{
        max-width: 200px;
    }
}

.dws-menu {
    margin-top: -55px;

    ul,
    ol{
    list-style: none;
    }

    > ul{
        display: flex;
        justify-content: center;
    }

    
    > ul li{
    position: relative;
    }

    > ul li a{
    display: block;
    background: rgb(201,201,201);
    background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%);
    background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 );
    padding: 18px 30px 18px 40px;
    font-size: 15px;
    font-weight: 700;
    color: #454547;
    text-decoration: none;
    text-transform:uppercase;
    transition: all 0.3s ease;
    }

    li a:hover{
    background: rgb(224,225,229);
    background: -moz-linear-gradient(top,  rgba(224,225,229,1) 0%, rgba(69,69,71,1) 2%, rgba(69,69,71,1) 98%, rgba(224,225,229,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%);
    background: linear-gradient(to bottom,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 ); 

    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
    }
}

.header_search {
    position: absolute;
    top: 65px;
    right: 15px;

    .lang_select {
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: 35px;
        top: -53px;
        color: black;
    }

    .sv_lang {
        right: 60px;
    }
    
}
