@import '../abstracts/variables';
@import '../abstracts/mixins';

/* .menu_main {
    @include main-nav;
    background: $backgroundColor1;
} */

.dws_menu {
    display: grid;
    grid-template-columns: 20% 55% 25%;

.dws-menu {
    margin-top: -55px;

    ul,
    ol{
    list-style: none;
    }


    > ul{
        display: flex;
        justify-content: center;
    }

    li {
        height: 45px;
        max-width: 200px;
        min-width: 140px;
        text-align: center;
        position: relative;
        background-color: $backgroundSpecial; //goldenrod;
    }

    li a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: $textColor2; //black;
        padding: 13px;
        font-weight: bold;
        transition: all 0.5s ease;
    }

    li a:hover {
        background-color: $backgroundColor1; //black;
        color: $backgroundSpecial; //goldenrod;
        transition: all 0.5s ease;
    }
    
}