.sp-bakgrund {
    background: $backgroundColor2; //#EBEBEB;
    //width: $contentWidth; //95%;
    height: auto;
    //justify-content: space-around;
    //display: flex;
    /* padding: px; */
    //padding:20px 0;
    //flex-wrap: wrap;
    @include content-centering;
}

.sp-stil {
   
    display: inline-block;
    //width: 550px;
    padding: 20px;

    font-family: $specialFont; //Roboto Slab;
    /*
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
    */

}

.sp-rad {
    padding: 30px;
}

.sp-rubrik {                                // eg Dans & Cirkus, Film
    text-align: center;
    color: #af0c0c; //for debugging
}

 .sp-bild {
/* width: 400px;
height: 272.18px;
 */
@include auto-img-size;
} 

