<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
=======
$regFontSize: 1rem;
$bigFontSize: 1.5rem;

$mainFont:    Helvetica, sans-serif;
$specialFont: arial;
>>>>>>> main
