 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sectionFaq {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

.faqContaioner {
    width: 70%; 
    max-width: 80rem; //vad ska vi ha?
    margin: 0 auto;
    padding: 0 1.5 px;
}

.ruta {
    background-color: #e8e8e8;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rbga(0,0,0,.15);
}

.lankfraga {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    background-color: #333;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.figur{
    color: blanchedalmond;
    padding: .5rem;
}

#minus {
    display: none;
}
#plus {
    color: white;
}

.svar{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #d8d8d8;
    transition: max-height 0.6s;
    p{
        font-size: 1em;
        color: black;
        padding: 2rem;
    }
    
}

.ruta:target .svar{
    max-height: 20rem;
}

.ruta:target #plus{
    display: none;
}

.ruta:target #minus{
    display: block;
}
 






